body {
    margin: 0px;
}

.navbar {
    background-color: darkgrey;
}

.navbar-brand {
    margin-left: 30px;
}

#navbarSupportedContent {
    margin-right: 42px;
}

header>img {
    width: 250px;
}

.about_me {
    padding: 3px;
    background-color: aquamarine;
    text-align: center;
}

.about_me>h2 {
    color: white;
}

.my_blog {
    background-color: lightgreen;
    padding: 10px;
}

.my_blog>h3 {
    text-align: center;
    color: white;
}

.year {
    background-color: blue;
    color: white;
    border: 2px solid transparent;
    border-radius: 4px;
}

.created {
    color: cadetblue;
}

.contact_us {
    background-color: aquamarine;
    padding: 3px;
}

.contact_us>h3 {
    text-align: center;
    color: white;
}

.form {
    width: 300px;
}

.detailblog {
    background-color: steelblue;
}

.blog {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.detailblog1>h2 {
    text-align: center;
}

.detailblog2>h2 {
    text-align: center;
}

.resume {
    background-color: chocolate;
}

.cv {
    margin-top: 50px;
    margin-bottom: 80px;
}

.cv-intro {
    background-color: brown;
    color: white;
}

.cv-intro>img {
    width: 12em;
    border-radius: 50px;
    border: 5px solid;
    border-color: white;
    margin-top: 10px;
    margin-left: 35px;
}

.cv-intro>h4 {
    margin-top: 10px;
}

.cv-content {
    background-color: coral;
}

.cv-content>h1 {
    text-align: center;
}

.menu {
    margin-right: 10px;
}

.menu>a {
    text-decoration: none;
    color: black;
}

.menu>a:active {
    transition: all 1;
    color: white;
}

.menu>div>a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: darkgray;
    color: white;
}

.footer>p>a {
    text-decoration: none;
    color: white;
}

.footer>a {
    text-decoration: none;
}

@media (max-width: 800px) {
    .detailblog1>video {
        width: 300px;
    }

    .detailblog2>video {
        width: 300px;
    }
}